div{
    background-color: coral;
    width: 200px;
    height: 100px;
    margin: 5px;
    color: white;
    font-size: 45px;
    display: inline-block;
}
#Box1{
    /* display: none; */
}
#Box2{
    /* visibility: hidden; */
}
#Box3{
}
span{
    /* display: block; */
    display: inline-block;
    background-color: cyan;
    margin: 5px;
    width: 100px;
    height: 100px;
}
a{
    display: block;
}